{% extends 'AdminBundle::admin-layout.html.twig' %}

{% block content %}
    <h3>Group</h3>

    <table class="table table-bordered" style="max-width: 300px">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userGroup.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ userGroup.name }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('usergroup_index') }}" class="btn btn-primary btn-small">Back to the list</a>

    <a href="{{ path('usergroup_edit', { 'id': userGroup.id }) }}" class="btn btn-warning btn-small">Edit</a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger btn-small" {% if userGroup.users|length > 0 %}disabled{% endif %}>
    {% if userGroup.users|length > 0 %}Group has {{ userGroup.users|length }} user(s) and cannot be deleted{% endif %}
    {{ form_end(delete_form) }}
{% endblock %}
